NODE_ENV=development

PORT=3002
HOST=localhost

DATABASE_URL="postgresql://postgres:postgrespasswd@localhost:5432/easybooking?schema=public"

JWT_SECRET=
JWT_EXPIRES_IN=7d

SEED_CLIENT_EMAIL=client@test.com
SEED_CLIENT_PASSWORD=Client123

SEED_BUSINESS_EMAIL=business@test.com
SEED_BUSINESS_PASSWORD=Business123

SEED_STOMATOLOGY_EMAIL=clinic@test.com
SEED_STOMATOLOGY_PASSWORD=Clinic123

SEED_ADMIN_EMAIL=admin@test.com
SEED_ADMIN_PASSWORD=Admin123

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=
REDIS_URL=redis://localhost:6379
